
/* Esses comandos são para tudo que estiver no body, ter essa coloração e ter essa fonte  */


.imgresponsivo{

    max-widht:100%;
    height: auto;
    float: center;
    margin: auto;
    display:flex;

}

.img-bg{
   display:none;
    
}

.img-sg{
  display:block;
}

@media(min-width: 498px){
    img-bg{
     display:block;
    }
    
    img-sg{
    display:block;
    }
}






body{
    background-color: rgb(203, 227, 211);
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 40px 40px 40px 40px;
    padding: 50px;
    width:100%;
    line-height: 20px;

}




iframe{
    border-radius: 50;
}

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    
}


/* esses comandos é para a faixa que tem o nome grande da célula vegetal  */
nav{
    background-color: rgb(15, 36, 28);
    width: 100%;
    height: 70px;
    display:flex;
    align-items: center;
    justify-content: center;

    position: sticky;
    top: 0%;
    border-radius: 40px 40px 40px 40px;
}


/* todas os títulos que tiver um h1, terão essa coloração e essa fonte  */
h1{
font-family: Georgia, 'Times New Roman', Times, serif;
color:white
}






/* todas os títulos que tiver um h4, terão esses comandos aqui  */
h4{
    background-color: rgb(58, 83, 74);  border-radius: 40px 40px 40px 40px;
    width: 100%;
    height: 30px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:white
    
}


/* todas as tags de imagem terão esses comandos */
img {
    width: 260px;
    height: 250px;
    margin-top: 20px;
    border-radius: 10%;
    padding: 7px;
    background-color: rgb(13, 39, 27);
    display: flex;
    flex-direction row;
    box-shadow: 10px 8px rgba(108, 120, 110, 0.667);
    align-items: center;
   
}

/* as tags de parágrafos terão esses comandos */
p{
    margin-top: 50px;
    padding:70px;
    background-color: azure;
    border-radius: 40px 40px 40px 40px;
    margin-bottom: 30px;
    box-shadow: 10px 8px rgb(19, 48, 19);
 
}



/*Link não visitado */
a:link {
    color: rgb(127, 154, 129);
   
  }
  
  /*Link já visitado*/
  a:visited {
    color: rgb(39, 58, 23);
    text-decoration: none;
  }
  
  /*Quando o mouse passa por cima*/
  a:hover {
    color: rgb(41, 83, 48);
    text-decoration: none;
  }
  
  /*Link ativo/selecionado*/
  a:active {
    color: rgb(255, 255, 3);
    text-decoration: none;
  }






ul {
    list-style: none;
    width: 200px;
    margin: 0;
    padding: 0;
   
}




li {
    position: relative; /* Necessário para flutuar os submenus */
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 8px rgb(19, 48, 19);

}








#baixo{
    float: left;
    margin: auto;
    display: flex;
    padding: 0 37px;
   
}



a {
    color: #000000;
    display: block;
    padding: 10px;
    text-decoration: none;
    
}
a:hover {
    background-color:rgb(125, 143, 108);
    color: #ffffff;
   

}


li ul {
    display: none;
}

li:hover > ul {
    display: block;
}

li ul {
    position: absolute;
    left: 100%; /* Posiciona o menu filho ao lado do menu pai */
    top: 0; /* Posiciona o menu filho no topo do menu pai */
}


 /* para a tabela ficar legal no celular*/
table {
            border-collapse: collapse;
        }
th {
            padding: 25px;
            text-align: center;
        }
        td{
            padding: 25px;
        }
 .conceitos {
            font-size: 22;
        }
*{
 margin: 0;
}

#img1{
  z-index: 0;
}

#img2{
  position: absolute;
  z-index: 1;
  width: 50px;
  height: 50px;
  left:80px; 
  top: 80px;
}








